.sideBarRow{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.sideBarRow__icon{
    color: #adabab;
    font-size: 23px !important;
}

.sideBarRow__title{
    flex: 1;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 500;
}

.sideBarRow:hover{
    background-color: lightgrey;
    cursor: pointer;
}

.sideBarRow:hover > .sideBarRow__icon{
    color: #d80909;
}

.sideBarRow:hover > .sideBarRow__title{
    font-weight: bold;
}

.sideBarRow.selected{
    background-color: lightgrey;
}

.sideBarRow.selected .sideBarRow__icon{
    color: #d80909;
}

.sideBarRow.selected .sideBarRow__title{
    font-weight: bold;
}
